/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300;400;500;600;700&family=Oswald:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

:root {
    /* COLORS */
    --primary-100: #e6e6e6;
    --primary-200: #b3b3b3;
    --primary-300: #818181;
    --primary-400: #353535;
    --primary-500: #020202;

    --white: #fefcfd;

    --orange: #fe9a1f;
    --green: #20626a;
    --blue: #0e6aab;
    --pink: #c15db0;
    --red: #e91246;

    /* FONT */
    --primary-fontFamily: 'Oswald', sans-serif;
    --secondary-fontFamily: 'Shantell Sans', sans-serif;

    /* REST vars */
    --borderRadius: 50px;
    --circle: 50%;
    --letterSpacing: 1px;
    --transition: 0.5s;

    --gradient: linear-gradient(to right, #f4bf5c, #20626a, #0e6aab, #c15db0, #e91246);
    --gradient-2: linear-gradient(to right, #ffffff, #7c7b7b);
}

body {
    color: var(--primary-500);
    font-weight: 300;
    font-family: var(--primary-fontFamily);
    background-color: var(--white);
    scroll-behavior: smooth;
}

.btn {
    width: 16vw;
    padding: 4px 8px;
    font-family: var(--primary-fontFamily);
    font-weight: 500;
    font-size: 1rem;
    line-height: 2;
    letter-spacing: calc(var(--letterSpacing) * 2);
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    border: 2px solid var(--primary-500);
    filter: drop-shadow(4px 4px var(--primary-500));
    border-radius: 20px;
    background: var(--gradient);
    transition: var(--transition);
    cursor: pointer;
}

.btn:hover {
    color: var(--primary-100);
    background-color: var(--primary-400);
    filter: none;
    transform: scale(0.9);
}

#btn-up {
    position: fixed;
    top: 85%;
    right: 2%;
    z-index: 100;
    width: 60px;
    height: 60px;
    font-size: 3rem;
    border: none;
    border-radius: 50%;
    color: var(--primary-100);
    background-color: var(--pink);
    animation: btnUpMove 3s infinite;
    filter: drop-shadow(3px 3px var(--primary-500));
    transition: var(--transition);
    cursor: pointer;
}

#btn-up:hover {
    color: var(--primary-500);
    background-color: var(--blue);
}

.btn-up-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.line {
    width: 15rem;
    height: 4px;
    border-radius: 25px;
    margin-right: -10px;
    background: var(--gradient);
}

@media (max-width: 650px) {
    #btn-up {
        right: 2%;
        width: 45px;
        height: 45px;
        font-size: 2rem;
    }
}

@media (max-width: 450px) {
    #btn-up {
        right: 2%;
        width: 40px;
        height: 40px;
        font-size: 1.8rem;
    }
}

@keyframes btnUpMove {
    0% {
        top: 85%;
    }
    50% {
        top: 87%;
    }
    100% {
        top: 85%;
    }
}
