* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    /* COLORS */
    --primary-100: #c1d5ca;
    --primary-200: #b9cfc3;
    --primary-300: #68957b;
    --primary-400: #407859;
    --primary-500: #176845;

    --gray-100: #818181;
    --gray-200: #414443;
    --gray-300: #272c2a;

    --black: #222222;
    --white: #fefcfd;
    --red: #d10303;

    /* FONT */
    --primary-fontFamily: 'Montserrat', sans-serif;
    --secondary-fontFamily: 'Cormorant Garamond', sans-serif;

    /* REST vars */
    --backgroundColor: var(--white);
    --borderRadius: 50px;
    --letterSpacing: 2px;
    --transition: 0.5s;

    /* BOX SHADOW */
    --shadow-1: 1px 1px 10px var(--black);
    --shadow-2: inset 1em 1em var(--black);
    --shadow-3: 0 0 5px var(--primary-300);
    --shadow-4: 1px 1px 10px var(--primary-300);

    --gradient: linear-gradient(to right, #deeee5, #68957b);
}

body {
    color: var(--black);
    font-weight: 300;
    font-family: var(--primary-fontFamily);
    background-color: var(--white);
    scroll-behavior: smooth;
}

.btn {
    width: 30%;
    padding: 8px 15px;
    margin: 5px;
    font-family: var(--primary-fontFamily);
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: var(--letterSpacing);
    text-align: center;
    text-transform: uppercase;
    color: var(--black);
    border: none;
    border-radius: 10px;
    background-color: var(--primary-200);
    transition: var(--transition);
    cursor: pointer;
}

.btn:hover {
    color: var(--white);
    background-color: var(--primary-300);
    box-shadow: var(--shadow-1);
    transform: scale(0.95);
}
